name: Build project, lint, test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install project + dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Lint with ruff
      run: |
        ruff check .
    - name: pytest
      run: |
        pytest -v
