name: Build project, lint, test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

jobs:
  build:
    name: Lint and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install project + dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Lint with ruff
      run: |
        ruff check .
    - name: Test
      run: |
        python -m doctest maybetype/*.py
        pytest -v
